<!doctype html>
<html>
<style>
body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}
</style>

<body style="font-family:arial, sans-serif">
    <h1>{{header}}</h1>
    <center><h4><a href="/">Go back and enter another ticker</a></h4></center>
    <div id="chart" class="chart"></div>
	<div id="chart2" class="chart2"></div>
	<br><br>  
	<center>
	<div>{{description}}</div>
	<br><br>	
    {{ table|safe }}
	</center>
</body>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
	var graph_hourly = {{graphJSON_hourly | safe}};
    Plotly.plot('chart',graph_hourly,{}); 
	var graph_daily = {{graphJSON_daily | safe}};  
    Plotly.newPlot('chart2',graph_daily,{});   	
</script>

</html>